{
  "apps": [
    {
      "name": "sqlite",
      "script": "sqlite.js",
      "node_args": "--report-on-fatalerror --report-directory=/var/log/pm2 --max-old-space-size=30720",
      "max_restarts": 999,
      "max_memory_restart": "32G",
      "kill_timeout": 30000,
      "wait_ready": true,
      "exec_mode": "cluster",
      "instances": "max",
      "pmx": false,
      "env_production": {
        "NODE_ENV": "production"
      },
      "error_file": "/var/log/pm2/sqlite-error.log",
      "out_file": "/var/log/pm2/sqlite-out.log",
      "combine_logs": true,
      "merge_logs": true
    },
    {
      "name": "sqlite-bree",
      "script": "sqlite-bree.js",
      "node_args": "--report-on-fatalerror --report-directory=/var/log/pm2 --max-old-space-size=65536",
      "max_restarts": 999,
      "max_memory_restart": "80G",
      "kill_timeout": 30000,
      "exec_mode": "fork",
      "wait_ready": true,
      "instances": "1",
      "pmx": false,
      "env_production": {
        "NODE_ENV": "production"
      },
      "error_file": "/var/log/pm2/sqlite-bree-error.log",
      "out_file": "/var/log/pm2/sqlite-bree-out.log",
      "combine_logs": true,
      "merge_logs": true
    },
    {
      "name": "sqlite-worker",
      "script": "sqlite-worker.js",
      "node_args": "--report-on-fatalerror --report-directory=/var/log/pm2 --max-old-space-size=30720",
      "max_restarts": 999,
      "max_memory_restart": "32G",
      "kill_timeout": 30000,
      "exec_mode": "fork",
      "wait_ready": true,
      "instances": "1",
      "pmx": false,
      "env_production": {
        "NODE_ENV": "production"
      },
      "error_file": "/var/log/pm2/sqlite-worker-error.log",
      "out_file": "/var/log/pm2/sqlite-worker-out.log",
      "combine_logs": true,
      "merge_logs": true
    }
  ],
  "deploy": {
    "production": {
      "user": "deploy",
      "host": [{% for host in groups['sqlite'] %}"{{ hostvars[host].ansible_host }}"{% if not loop.last %}, {% endif %}{% endfor %}],
      "ref": "origin/master",
      "repo": "{{ lookup('env', 'GITHUB_REPO') }}",
      "path": "/var/www/production",
      "pre-deploy": "git reset --hard",
      "post-deploy": "bash ./scripts/pm2-post-deploy.sh ecosystem-sqlite.json production"
    }
  }
}
